<?xml version="1.0" encoding="utf-8"?>
<!-- Run all tests except those requiring live NR or sequential mode. -->
<RunSettings>
  <RunConfiguration>
    <TestCaseFilter>FullyQualifiedName!~Sequential&amp;FullyQualifiedName!~LiveNewRecruit&amp;FullyQualifiedName!~NrIntegration</TestCaseFilter>
  </RunConfiguration>
</RunSettings>
