<?xml version="1.0" encoding="utf-8"?>
<!-- Run all tests except those requiring live NR or sequential mode. -->
<RunSettings>
  <RunConfiguration>
    <TestCaseFilter>Engine!=LiveNrRoster&amp;Engine!=LiveNrGameData&amp;Engine!=LiveNrGameDataUi&amp;Mode!=Sequential</TestCaseFilter>
  </RunConfiguration>
</RunSettings>
